.App {
  width: 100vw;
  height: 100vh;

  display: grid;
  justify-content: center;
  /* overflow: auto; */
  min-width: 1105px;
  /* position: absolute; */
  /* left: -300px; */
}

.the-app {
  /* width: calc(100vw - 40px);
  height: calc(100vh - 80px);*/
  
  width: calc(100vw - 40px);
  height: calc(100vh - 80px);

  display: grid;
  justify-content: center;
  grid-template-rows: 80px 800px;
  /* grid-template-rows: 80px 1fr;  */
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Height */
::-webkit-scrollbar {
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3-px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  border: 1px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  border: 1px solid white;
}