header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 6px 8px 0px 2px rgba(0,0,0,1);
    margin: auto;
    margin-top : 10px;
    margin-bottom : 1px;
}


