.loginDiv{
    width: 1100px;
    height: 500px;
    border-radius: 20px;
    border : 2px solid black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 6px 8px 0px 2px rgba(0,0,0,1);
    margin: auto;
}

.loginDiv img{
    width : 700px;
    height: 496px;
    border-radius: 17px;

}

.loginDiv button {
    width: 120px;
    font-size: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 0 0 100px;
    padding: 10px ;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;

}

.button_42
{
    position: relative;
    bottom: 50px;
    right: 60px;
}

.button_google
{
    position: relative;
    bottom: 230px;
    left: 640px;
}



.loginDiv button:hover {
    color: white;
    width: 200px;
    box-shadow: 0 0 20px white;
    background-color: black;
}


