/* Header Styles */
.header {
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 6px 8px 0px 2px rgba(0, 0, 0, 1);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 1px;
  }
  
.discoverTeam
{
  font-family: 'Mouse Memoirs';

  display: flex;
  justify-content: center;
  padding-right: 60px;
}

.discover-team-h2 {
  font-family: 'Mouse Memoirs';

  display: inline-block;
  margin-right: 15px;
}

.play-button {
  font-family: 'Mouse Memoirs';

  width: 70px;
  font-size: 30px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  text-decoration: none;
}

.discover-this-amazing-team {
  font-family: 'Mouse Memoirs';

  display: flex;
  margin: auto;
  height: 750px;
  width: 1142px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(6, 6, 6);
  box-shadow: 6px 6px 0px 2px rgb(172, 169, 169);
  flex-direction: column;
  font-size: 130px;
}

.discover-this-amazing-team p
{
  font-family: 'Mouse Memoirs';

  position: relative;
  left : 100px;
  color : white;
  display : flex;
  margin-bottom: -60px;

}
  
.ping-pong-reboot {
  font-family: 'Mouse Memoirs';

  margin: auto;
  width: 1142px;
  height: 430px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 6px 6px 0px 2px black;
}

.ping-ping-reboot-h1 {
  font-family: 'Mouse Memoirs';

  margin-left: 50px;
  margin-top: 31px;
}

.ping-pong-reboot-text {
  font-family: 'Mouse Memoirs';

  font-size: 25px;
  display: flex;
  width: 650px;

  margin-left: 50px;
}

.ping-pong-reboot-img-p
{
  display: flex;
  flex-wrap: wrap;
}
}

#pingPongRebootText
{

}
  
.ping-pong-photo {
  font-family: 'Mouse Memoirs';

  position: relative;
  background-color: green;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-left: 20px;
  bottom: 150px;
  /* left: 10%; */
}

.discover-this-amazing-team-title {
  font-family: 'Mouse Memoirs';

  font-size: 120px;
  margin-top: 1%;
  color: white;
  margin-left: 7%;
  line-height: 0.98;
}
  
.meet-the-team
{
  font-family: 'Mouse Memoirs';

  margin: auto;
  width: 1142px;

  height: 460px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 6px 6px 0px 2px black;
}
  
  .meet-the-team-h1 {
    font-family: 'Mouse Memoirs';

    position: relative;
    text-align: center;
    font-size: 100px;
    bottom: 20px;
  }
  
  .meet-the-team-h3 {
    font-family: 'Mouse Memoirs';

    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 15%;
  }
  
  .meet-the-team-line {
    font-family: 'Mouse Memoirs';

    position: relative;
    border-bottom: 5px solid;
    background-color: black;
    bottom: 12%;
  }
  


.dsFooter {
  font-family: 'Mouse Memoirs';

  position: relative;
  bottom: 30px;
  flex-direction: column;
  display: flex;
  margin: auto;
  width: 1142px;

  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 6px 6px 0px 2px black;
}
  
  .footer-h2 {
    font-family: 'Mouse Memoirs';

    position: relative;
    text-align: center;
  }
  
  .footer-text {
    font-family: 'Mouse Memoirs';

    position: relative;
    top: -10px;
    right: 0.17%;
    line-height: 1;
    font-family: 'Mplus 1p';
  }
  

#tryIt {

  font-family: 'Mouse Memoirs';

  display: block;
  width: 104px;
  height: 45px;
  line-height: 40px;
  font-size: 25px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 9px;
  bottom : 50px;
  left : 44px;
}

#tryIt:hover {
  background-color: black;
  color : white;

}
#playB {

  font-family: 'Mouse Memoirs';

  display: block;
  width: 104px;
  height: 45px;
  line-height: 40px;
  font-size: 25px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 9px;
  /* bottom : 50px; */
  left : 44px;
}

#playB:hover {
  background-color: black;
  color : white;

}



.discoverTeam h2
{
  font-family: 'Mouse Memoirs';

  position: relative;
  display: inline-block;
  text-decoration: none; 
}
.discoverTeam h2:before {
      font-family: 'Mouse Memoirs';

  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000; /* Change the color as desired */
  transform: scaleX(0);
  /* transition: transform 0.1s ease-in-out; */
  transition: opacity .2s, visibility .2s;

}

.discoverTeam h2:hover:before {
      font-family: 'Mouse Memoirs';

  transform: scaleX(1);
}




.meet-the-team-images {
      font-family: 'Mouse Memoirs';

  position: relative;
  bottom: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.meet-the-team-image img {
      font-family: 'Mouse Memoirs';

  border-radius: 20px;
  width: 249px;
  height: 249px;
  cursor: pointer;
}
.meet-the-team-image {
      font-family: 'Mouse Memoirs';

  margin: 10px;
  width: 250px;
  height: 250px;
  position: relative;
  border: 1px solid black;
  box-shadow: 6px 6px 0px 2px black;
  border-radius: 25px;
  transform: translateZ(0); /* Add this line */
  z-index: 2;

}

/* .meet-the-team-images:hover {
  pointer-events: none;
} */

.overlay {
      font-family: 'Mouse Memoirs';

  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: rgba(239, 239, 240, 0); /* Set transparent background */
}

.meet-the-team-image:hover .overlay {
      font-family: 'Mouse Memoirs';

  opacity: 1;
}

.overlayBottom {
      font-family: 'Mouse Memoirs';

  border-radius: 20px;
  width: 250px;
  height: 0;
  bottom: 0;
  right: 0px;
  background-color: rgba(239, 239, 240, 1); /* Solid color for non-hover state */
}

.meet-the-team-image:hover .overlayBottom {
      font-family: 'Mouse Memoirs';

  height: 250px;
}

.ping-pong-reboot .button_animation 
{
      font-family: 'Mouse Memoirs';

  position: relative;
  top: 10px;
  width : 100px;
}
.ping-pong-reboot .button_animation
{
      font-family: 'Mouse Memoirs';

  position: relative;
  top: 10px;
  width : 100px;
}

#header_text
{
      font-family: 'Mouse Memoirs';

  position: relative;
  text-align: center;
  top : 20px;
  font-size: 26px;
}

#paragraphImg
{
      font-family: 'Mouse Memoirs';

  display: flex;
  position: relative;
  text-align: center;
  top: 30px;
  
}

#gif
{
    position: relative;
    left : 440px;
    bottom : 660px;
    width: 700px;
    height: 700px;
}

.dstDiv
{
 font-family: "Mouse Memoirs";
}