
.editModal .modal-content
{
    width: 500px;
    height: 300px;
    /* background-color:; */
    border: 2px black solid;
    box-shadow: 3px 2px 0px 0px rgba(0,0,0,1);
    background-color: white;

}

#editIcon
{
    left: 400px;
    position: relative;
    bottom : 50px;
    margin: auto;
    width: 20px;
    height: 20px;
    /* background-color: green; */
}

.modalHeader
{
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    width : 470px; 
    height: 40px;
}

#editModalTitle
{
    font-size: 23px;
}

#closeButtonEditModal
{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom : 9px;
    font-size: 30px;
}

/* .editHeaderLine
{
    position: relative;
    right: 17px;
    width : 500px;
    background-color: black;
    height: 2px;
} */

.editModalNamePic
{
    position: relative;
    bottom: 1px;
    right: 18px;
    width: 503px;
    height: 200px;
    border: 2px solid black;
}

.editModalName
{
    padding: 10px;
}
.editModalPic
{
    padding: 10px;
}

#editModalNameTitle
{
    position: relative;
    left : 10px;
    letter-spacing: 5px;

}

#editModalNameInput
{
    border : 0.5px solid black;
    position: relative;
    top : 2px;
    left : 8px;
    border-radius: 4px;
    width: 400px;
}

#editModalPicTitle
{
    position: relative;
    left : 9px;

    letter-spacing: 5px;
}

#editModalPicInput
{
    border : 0.5px solid black;

    position: relative;
    left: 9px;
    /* bottom : 10px; */
    border-radius: 4px;
    width: 350px;
    
}

#editModalBrowse
{
    /* display: flex; */
    color: black;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: white;
    border : 1px solid black;
    position: relative;
    width: 88px;
    bottom : 2px;
    height: 34px;
    left: 30px;
    box-shadow: 3px 2px 0px 1px rgba(0,0,0,1);
    transition: 0.3s;
}

#editModalBrowse:hover
{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);

}

.editModalFooter
{
    
    display: flex;
    justify-content: space-between;
}
.editModalFooter button
{
    position: relative;
    /* top : 10px; */
    width: 90px;
    height: 40px;
}