
.editModal .modal-content
{
    font-family: 'Mouse Memoirs';

    width: 500px;
    height: 290px;
    /* background-color:; */
    border: 2px black solid;
    box-shadow: 3px 2px 0px 0px rgba(0,0,0,1);
    background-color: white;

}

#editIcon
{
    font-family: 'Mouse Memoirs';

    left: 400px;
    position: relative;
    bottom : 65px;
    margin: auto;
    width: 20px;
    height: 20px;
    /* background-color: green; */
}

.modalHeader
{
    font-family: 'Mouse Memoirs';

    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    width: 466px;
    height: 49px;
}

#editModalTitle
{
    font-family: 'Mouse Memoirs';

    font-size: 23px;
}

#closeButtonEditModal
{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom : 9px;
    font-size: 30px;
}

/* .editHeaderLine
{
    position: relative;
    right: 17px;
    width : 500px;
    background-color: black;
    height: 2px;
} */

.editModalNamePic
{
    font-family: 'Mouse Memoirs';

    position: relative;
    bottom: 1px;
    right: 18px;
    width: 503px;
    height: 180px;
    border: 2px solid black;
}

.editModalName
{

    padding: 10px;
}
.editModalPic
{
    padding: 10px;
}

#editModalNameTitle
{
    font-family: 'Mouse Memoirs';

    position: relative;
    left : 10px;
    letter-spacing: 5px;

}

#editModalNameInput
{
    font-family: 'Mouse Memoirs';

    border : 0.5px solid black;
    position: relative;
    top : 2px;
    left : 8px;
    border-radius: 4px;
    width: 400px;
}

#editModalPicTitle
{
    font-family: 'Mouse Memoirs';

    position: relative;
    left : 9px;

    letter-spacing: 5px;
}

#editModalPicInput
{
    font-family: 'Mouse Memoirs';

    border : 0.5px solid black;
    display: flex;
    position: relative;
    left: 9px;
    /* bottom : 10px; */
    border-radius: 4px;
    width: 350px;
    
}

.browse-image-label1
{
    justify-content: center;
    display: flex;
    font-family: 'Mouse Memoirs';
    border-radius: 5px;
    display: flex;
    color: black;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    width: 60px;
    bottom: 31px;
    left: 390px;
    /* left: 30px; */
    box-shadow: 3px 2px 0px 1px rgba(0,0,0,1);
    transition: 0.3s;
}

#editModalBrowse
{
    font-family: 'Mouse Memoirs';

    display: flex;
    color: black;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    position: relative;
    /* width: 60px !important; */
    bottom: 31px;
    height: 33px;
    left: 390px;
    /* left: 30px; */
    box-shadow: 3px 2px 0px 1px rgba(0,0,0,1);
    transition: 0.3s;

}

#editModalBrowse:hover
{
    font-family: 'Mouse Memoirs';

    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);

}

.editModalFooter
{
    font-family: 'Mouse Memoirs';

    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.editModalFooter button
{
    font-family: 'Mouse Memoirs';

    height : 35px !important;
    position: relative;
    /* top : 10px; */
    border :  1px solid black;
    width: 90px;
    height: 40px;
    background-color : white;
}

#Cancel
{
    font-family: 'Mouse Memoirs';

    color : black;
    border: none;
    background-color: white;
}

#Edit
{
    display: flex;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 1px solid black;
    justify-content: center;
    box-shadow: 3px 2px 0px 1px rgba(0,0,0,1);
    transition: 0.3s;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-around;
}

#Edit:hover
{
    font-family: 'Mouse Memoirs';

    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);

}