header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 6px 8px 0px 2px rgba(0,0,0,1);
    margin: 5px 0;
    padding: 0 10px;
  }

.header-right, .header-left
{
  display: flex;
  justify-content: space-between;
}

header h3{
  padding: 5px 10px;
  margin: 0;
  font-family: 'Mouse Memoirs', sans-serif;
}


.bellImg {
  
  background-color: white;
  margin-right: 5px;
}

.imgBell
{
  display: flex;
}

.bellImg img
{
  width: 30px;
  height: 30px;
}


.profileImg {
    /* bottom: 5px; */
    /* position: relative; */
    /* width: 30px; */
    /* height: 60px; */
    border-radius: 60px;
    /* background-color: black; */
    /* left: 610px; */
}

.profileImg img 
{
  width : 30px;
  height: 30px;
  border-radius: 60px;

}

span{
  font-family: 'Mouse Memoirs', sans-serif;
}

.vertical-line {
    /* position: relative; */
    /* bottom : 6px; */
    /* left: 10px; */
    width: 2px;
    height: 50px;
    background-color: black;
}

.header_buttons
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}
.header_buttons #Lbutton
{
    /* position: relative; */
    /* left: 56px; */
    width: 160px;
    height: 35px;
}
.header_buttons #Cbutton
{
    /* position: relative;
    left: 80px; */
    width: 80px;
    height: 35px;
    margin-left: 5px;
}

.header_buttons a{
    display: block;

    line-height: 40px;
    font-size: 25px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 9px;
  }
  
  .header_buttons a span{
    position: relative;
    z-index: 1;
    bottom : 5px;
  }
  
  .header_buttons   a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transition: all .20s;
    color: #fff;
  }
  
  .header_buttons a:hover{
    color: #fff;
  }
  
  .header_buttons a:hover:after{
    width: 100%;
  }
  
  .dropdown-menu {
    /* position: absolute; */
    /* top: 40px; */
    /* right: 0; */
    /* width: 150px; */
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    display: none;
  }
  
  .dropdown-menu.open {
    display: block;
  }

  #drop
  {

    position: relative;
    /* bottom: px; */
    bottom : 10px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 2px rgba(0,0,0,1);
    transition: 0.2s;
    background-color: white;

  }

  #drop:hover
  {
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
  }

  .dropDownMenu
  {

    height: 70px !important;
    width: 80px !important;
    /* position: relative !important; */
    /* bottom : px !important; */
    /* right: 20px !important; */
  }

.bell #drop
{
  font-family: "Mouse Memoirs";

  display: flex;
  height: 40px;
  width : 300px;
  justify-content: center;
  align-items: center;
}

.friendRequest
{
  display: flex;

  /* align-items: baseline; */
}

.friendRequest p
{
  margin-right: 10px;
  /* align-items: baseline; */
}

#acceptImg
{
  width : 20px;
  height : 20px;
  margin-right: 10px;
}
#declineImg
{
  width : 20px;
  height : 20px;
}

#youGotNo
{
  display: flex;
  margin: 5px;
  align-items: center;
  text-align: center;

}

.dropdown-menu.show
{
  height: 10px !important;
}