* {
    font-family: 'Mouse Memoirs', sans-serif;
}
header {

    /* left: 0; */
    width: 1058px;
    height: 48px;
    display: flex;
    padding: 5px 50px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 6px 8px 0px 2px rgba(0,0,0,1);
    margin-top : 10px;
    /* position: fixed; */
    /* margin: auto; */
    top: 0;
    /* transform: translateX(-50%); */
    display: flex;
  }


header h3{
    position: relative;
    text-align: center;
    right: 20px;    
}

.bellImg {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 500px;
  background-color: white;
  top: 5px;
  z-index: 999;
}


.profileImg {
    bottom: 5px;
    position: relative;
    width: 30px;
    height: 60px;
    border-radius: 60px;
    /* background-color: black; */
    left: 610px;
}

.profileImg img 
{
  width : 30px;
  height: 30px;
  border-radius: 60px;

}



.vertical-line {
    position: relative;
    bottom : 6px;
    left: 10px;
    width: 2px;
    height: 50px;
    background-color: black;
}

.header_buttons
{
    display: flex;

}
.header_buttons #Lbutton
{
    position: relative;
    left: 56px;
    width: 160px;
    height: 35px;
}
.header_buttons #Cbutton
{
    position: relative;
    left: 80px;
    width: 80px;
    height: 35px;

}

.header_buttons a{
    display: block;

    line-height: 40px;
    font-size: 25px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 9px;
  }
  
  .header_buttons a span{
    position: relative;
    z-index: 1;
    bottom : 5px;

  }
  
  .header_buttons   a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: all .20s;

  }
  
  .header_buttons a:hover{
    color: #fff;
  }
  
  .header_buttons a:hover:after{
    width: 100%;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 40px; /* Adjust the top position as needed */
    right: 0;
    width: 150px; /* Adjust the width as needed */
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    display: none;
  }
  
  .dropdown-menu.open {
    display: block;
  }

  #drop
  {

    position: relative;
    bottom: 10px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 2px rgba(0,0,0,1);
    transition: 0.2s;
    background-color: white;

  }

  #drop:hover
  {
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
  }

  .dropDownMenu
  {

    height: 70px !important;
    width: 80px !important;
    /* position: relative !important; */
    /* bottom : px !important; */
    /* right: 20px !important; */
  }

.bell #drop
{
  display: flex;
  height: 40px;
  width : 300px;
  justify-content: center;
  align-items: center;
}

.friendRequest
{
  display: flex;

  /* align-items: baseline; */
}

.friendRequest p
{
  margin-right: 10px;
  /* align-items: baseline; */
}

#acceptImg
{
  width : 20px;
  height : 20px;
  margin-right: 10px;
}
#declineImg
{
  width : 20px;
  height : 20px;
}

#youGotNo
{
  display: flex;
  margin: 5px;
  align-items: center;
  text-align: center;

}