header {

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 6px 8px 0px 2px rgba(0,0,0,1);
    margin: 5px 0;
    padding: 0 10px;
}

.header-right, .header-left
{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

header h3{
  padding: 5px 10px;
  margin: 0;
}

.bellImg {
    /* position: relative;
    width: 27px;
    height: 27px;
    left: 600px;
    top: 5px; */
}

.profileImg {
    /* bottom: 5px;
    position: relative;
    width: 30px;
    height: 60px;
    /* background-color: whi; */
    /* left: 610px;  */
    border-radius: 60px;
    background-color: white;
}

.profileImg img 
{
  width : 30px;
  height: 30px;
  border-radius: 60px;

}


.vertical-line {
    /* position: relative; */
    /* bottom : 6px; */
    /* left: 10px; */
    width: 2px;
    height: 50px;
    background-color: black;
}

.header_buttons
{
  display: flex;
  margin: 0 5px 0 0;
}

.header-btn
{

}

.header_buttons #Lbutton
{
    /* position: relative;
    left: 56px; */
    /* width: 160px;
    height: 35px; */
    text-align: center;
}
.header_buttons #Cbutton
{
    /* position: relative;
    left: 80px; */
    /* width: 80px;
    height: 35px; */

}

.header_buttons a{
    position: relative;
    font-size: 18px;
    font-family: 'Mouse Memoirs';
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 5px;
    text-align: center;
    transition: all .35s;
    border-radius: 9px;
    margin-left: 5px;
    padding: 0 10px;
  }
  
  .header_buttons a span{
    position: relative;
    z-index: 1;
  }
  
  .header_buttons   a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: all .20s;

  }
  
  .header-btn:hover
  {
    color: #fff;
  }
  
  .header_buttons a:hover:after{
    width: 100%;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 40px; /* Adjust the top position as needed */
    right: 0;
    width: 150px; /* Adjust the width as needed */
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    display: none;
  }
  
  .dropdown-menu.open {
    display: block;
  }

  #drop
  {
    position: relative;
    bottom: 10px;
    text-align: center;
    border : 1px solid black;
    box-shadow: 1px 1px 0px 2px rgba(0,0,0,1);
    transition: 0.2s;
  }

  #drop:hover
  {
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
  }

  .dropDownMenu
  {

    height: 70px !important;
    width: 80px !important;
    /* position: relative !important; */
    /* bottom : px !important; */
    /* right: 20px !important; */
  }

