.mainDisplay
{
    /* position: relative;
    top : 50px;
    width: 1058px;
    margin: auto;
    height: 500px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 6px 8px 0px 2px rgba(0,0,0,1);
    background-color: black; */
}

.IQ {
  width: 95%;
  height: 100%;
  position: relative;
  font-size: 50px;
  bottom : 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  align-content: stretch;

  }
#X
{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    position: relative;
    left: 990px;
    top : 20px;
}

.IQ a
{
    text-decoration: none;
    color : white !important;
    letter-spacing: 3px;
}

 #triangleImg {
    opacity: 0;
    margin: 10px;
    border-radius: 0px !important;
    width: 43px;
    height: 43px;
    transition: opacity 0.1s;
  }
  
.quickGameContainer img
{
  position: relative;
  top : 9px;
}

.quickGameContainer span
{
  color : white;
}

  .quickGameContainer
  {
    display: flex;
    flex-direction: row-reverse;
    align-content: space-around;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .inviteFriendContainer:hover #triangleImg    {
    opacity: 1;
  }
  
  .quickGameContainer:hover #triangleImg
  {
    opacity: 1;
    
  }