.mainDisplay
{
    position: relative;
    top : 50px;
    width: 1058px;
    margin: auto;
    height: 500px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 6px 8px 0px 2px rgba(0,0,0,1);
    background-color: black;
}

.IQ
{
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    padding: 210px;
    position: relative;
    bottom : 50px;
}

#X
{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    position: relative;
    left: 990px;
    top : 20px;
}

.IQ a
{
    text-decoration: none;
    color : white;
    letter-spacing: 3px;
}