.mainDiv
{
    width: 1100px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.UserImage
{
    position: absolute;
    margin: auto;

    width : 150px;
    height: 150px;
    top:0;
    bottom: 100px;
    left: 0;
    right: 0;
    border-radius: 100px;

}

.userName
{
    position: absolute;
    font-size: 30px;
    margin: auto;
    top:280px;
    bottom: 0;
    left: 515px;
    right: 0;
}

.otp{
    position: absolute;
    margin: auto;
    top:100;
    bottom: 120px;
    left: 350px;
    right: 350px;
}